.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.icono {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  color: darkblue;
  background-color: blue;
}

.cajaEstado{
  margin-left:20px;
  padding:1px;
}


small {
  color: cadetblue;
}
