<div class="container">
  <form class="form-horizontal" novalidate
        (ngSubmit)="save()" [formGroup]="formGroup" style="margin-bottom:25px">
    <fieldset>
      <div class="row justify-content-end">
        <div class="form-group example-full-width ">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Codigo</mat-label>
            <textarea matInput placeholder="Ex. C000001"
                      required
                      formControlName="codigo"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div formGroupName="cliente" class="example-full-width">
        <div class="example-form example-full-width">
          <mat-form-field appearance="fill">
            <mat-label>Cliente</mat-label>
            <input matInput
                   aria-label="Cliente"
                   [matAutocomplete]="auto"
                   [formControl]="stateCtrl"
                   formControlName="nombre">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let cliente of listaClientes" [value]="cliente.nombre" (onSelectionChange)='getPosts(cliente)'>
                <span>{{cliente.nombre}}</span> |
                <small>Contacto: {{cliente.contacto}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

      </div>
      <!--<div formGroupName="fcliente">
        <div class="form-group col-md-6"
             [ngClass]="{'has-error': (formGroup.get('fcliente').get('nombre').touched || formGroup.get('fcliente').get('nombre').dirty) &&  !formGroup.get('fcliente').get('nombre').valid}">
          <div class="row">
            <label class="col-md-4 control-label"
                   for="clientenombreId">Cliente</label>
            <div class="col-md-8">
              <input class="form-control"
                     id="clientenombreId"
                     type="text"
                     required
                     formControlName="nombre" />
              <span class="help-block" *ngIf="(formGroup.get('fcliente').get('nombre').touched || formGroup.get('fcliente').get('nombre').dirty) &&  formGroup.get('fcliente').get('nombre').errors">
                <span *ngIf="formGroup.get('nombre').errors.required">
                  El campo cliente es requerido
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>-->
      <!--<div class="form-group col-md-6"
           [ngClass]="{'has-error': (formGroup.get('id').touched || formGroup.get('id').dirty) &&  !formGroup.get('id').valid}">
        <div class="row">
          <label class="col-md-4 control-label"
                 for="tareaId">Id</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="tareaId"
                   type="text"
                   style="width:5rem"
                   required
                   formControlName="id" />
            <span class="help-block" *ngIf="(formGroup.get('id').touched || formGroup.get('id').dirty) &&  formGroup.get('id').errors">
              <span *ngIf="formGroup.get('id').errors.required">
                El campo id es requerido
              </span>
            </span>
          </div>
        </div>
      </div>-->
      <!--<div class="form-group col-md-6"
           [ngClass]="{'has-error': (formGroup.get('codigo').touched || formGroup.get('codigo').dirty) &&  !formGroup.get('codigo').valid}">
        <div class="row">
          <label class="col-md-4 control-label"
                 for="codigoId">Codigo</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="codigoId"
                   type="text"
                   style="width:7rem"
                   required
                   formControlName="codigo" />
            <span class="help-block" *ngIf="(formGroup.get('codigo').touched || formGroup.get('codigo').dirty) &&  formGroup.get('codigo').errors">
              <span *ngIf="formGroup.get('codigo').errors.required">
                El campo Codigo es requerido
              </span>
            </span>
          </div>
        </div>
      </div>-->
      <!--[value]="date.value"-->

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker3" [value]="date.value"
                 required
                 formControlName="fecha">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>


      <!--<div class="form-group col-md-6"
           [ngClass]="{'has-error': (formGroup.get('fecha').touched || formGroup.get('fecha').dirty) &&  !formGroup.get('fecha').valid}">
        <div class="row">
          <label class="col-md-4 control-label"
                 for="fechaId">Fecha</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="fechaId"
                   type="date"
                   style="width:13rem"
                   required
                   formControlName="fecha" />
            <span class="help-block" *ngIf="(formGroup.get('fecha').touched || formGroup.get('fecha').dirty) &&  formGroup.get('fecha').errors">
              <span *ngIf="formGroup.get('fecha').errors.required">
                El campo Fecha es requerido
              </span>
            </span>
          </div>
        </div>
      </div>-->
      <!--<div class="form-row">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <a (click)="CrearDetalleTarea()">Agregar Tarea </a>
          </span>
        </div>
      </div>-->



      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="!formGroup.valid">
              Salvar
            </button>
            <button class="btn"
                    [routerLink]='["/ordenesTrabajo"]'>
              Cancelar
            </button>

          </span>
        </div>
      </div>

    </fieldset>
  </form>
</div>





<!--<mat-tab-group>
  <mat-tab label="Tareas">

    <a [routerLink]="['/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detallesTareas/' + OrdenTrabajoId]"> Lista  tarea</a>
    <a [routerLink]="['/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detalleTarea-agregar/'+ OrdenTrabajoId]"> Agregar tarea </a>
    <router-outlet></router-outlet>



  </mat-tab>
  <mat-tab label="Repuestos">
    <div class="container">

    </div>
  </mat-tab>
  <mat-tab label="Pagos">
    <a [routerLink]="['/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detallesPagos/' + OrdenTrabajoId]"> Lista  Pagos</a>
    <a [routerLink]="['/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detallesPago-agregar/'+ OrdenTrabajoId]"> Agregar Pago </a>
    <router-outlet></router-outlet>
  </mat-tab>
  <mat-tab label="Empleados">
    <a [routerLink]="['/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detallesEmpleados/' + OrdenTrabajoId]"> Lista  Empleados</a>
    <a [routerLink]="['/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detalleEmpleado-agregar/'+ OrdenTrabajoId]"> Agregar Empleado </a>
    <router-outlet></router-outlet>
  </mat-tab>
</mat-tab-group>-->
<<nav mat-tab-nav-bar ngClass="tabs">
  <a mat-tab-link
     [routerLink]="['/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detallesTareas/' + OrdenTrabajoId]"
     routerLinkActive="active-link">Lista Tareas</a>
  <a mat-tab-link
     [routerLink]="['/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detallesEmpleados/' + OrdenTrabajoId]"
     routerLinkActive="active-link">Lista de Empleados</a>
  <a mat-tab-link
     [routerLink]="['/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detallesPagos/' + OrdenTrabajoId]"
     routerLinkActive="active-link">Lista de Pagos</a>
  <a mat-tab-link
     [routerLink]=""
     routerLinkActive="active-link">Lista de Repuestos</a>
</nav>
<router-outlet></router-outlet>

<!--(selectedTabChange)="navegarDetalleTareas()"-->
