<!--<div class="container">-->
  <form class="form-horizontal" novalidate
        (ngSubmit)="save()" [formGroup]="formGroup" style="margin-bottom:25px">
    <fieldset>
      
        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Codigo</mat-label>
            <input matInput placeholder="Ex. OT000001"
                      required
                      formControlName="codigo">
          </mat-form-field>
        </div>
      

      <div formGroupName="cliente">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cliente</mat-label>
            <input matInput
                   aria-label="Cliente"
                   [matAutocomplete]="auto"
                   [formControl]="stateCtrl"
                   formControlName="nombre">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option>
                <span>No hay clientes creados</span>
              </mat-option>
              <mat-option *ngFor="let cliente of listaClientes" [value]="cliente.nombre" (onSelectionChange)='getPosts(cliente)'>
                <span>{{cliente.nombre}}</span> |
                <small>Contacto: {{cliente.contacto}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </div>
     
      <div class="row" style="margin-left:2px">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker3" [value]="date.value"
                   required
                   formControlName="fecha">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>



        <button mat-button class="icono" color="primary" matTooltip="Subir Acta Inicio" (click)="csvInput.click()">
          <span class="material-icons">
            arrow_circle_up
          </span>
          <span class="material-icons">
            receipt
          </span>
        </button>
        <input #csvInput
               onclick="this.value=null" (change)="InputChange($event)"
               id="dlgFile"
               hidden="hidden"
               type="file">

        <button mat-flat-button class="icono" color="primary" matTooltip="Subir Recepcion Equipos" (click)="csvInputRecepcion.click()">
          <span class="material-icons">
            assignment
          </span>
        </button>
        <input #csvInputRecepcion
               onclick="this.value=null" (change)="InputChangeRecepcion($event)"
               id="dlgFile2"
               hidden="hidden"
               type="file">

        <button mat-flat-button class="icono" color="primary" matTooltip="Subir Acta conformidad" (click)="csvInputConformidad.click()">
          <span class="material-icons">
            fact_check
          </span>
        </button>
        <input #csvInputConformidad
               onclick="this.value=null" (change)="InputChangeConformidad($event)"
               id="dlgFile3"
               hidden="hidden"
               type="file">
      </div>
     <hr />

      <mat-card class="example-result-card">
        <mat-card-content>
          <h6>Estado</h6>
          <br>


          <div class="row justify-content-around " style="width:330px">
            <label id="example-name-label" class="example-name-label">Abierto  </label>
            <label class="example-value-label">Pendiente Pago   </label>
            <label class="example-value-label">Cerrado   </label>
          </div>
          <mat-slider class="example-margin" style="width:300px"
                      [disabled]="disabled"
                      thumbLabel
                      [displayWith]="formatLabel"
                      [max]=100
                      [min]=0
                      [step]=50
                      [tickInterval]="getSliderTickInterval()"
                      aria-labelledby="example-name-label">
          </mat-slider>
          <!--[(ngModel)]="value"-->
        </mat-card-content>
      </mat-card>

      <br />
      <hr />



      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="!formGroup.valid">
              Salvar
            </button>
            <button class="btn"
                    [routerLink]='["/ordenesTrabajo"]'>
              Cancelar
            </button>

          </span>
        </div>
      </div>

    </fieldset>
  </form>
  <button mat-raised-button (click)="openDialog()">Ver Informe Preliminar</button>
<!--</div>-->



<<nav mat-tab-nav-bar ngClass="tabs">
  <a mat-tab-link
     [routerLink]="['/principal/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detallesTareas/' + OrdenTrabajoId]"
     routerLinkActive="active-link">Lista Tareas</a>
  <a mat-tab-link
     [routerLink]="['/principal/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detallesEmpleados/' + OrdenTrabajoId]"
     routerLinkActive="active-link">Lista de Empleados</a>
  <a mat-tab-link
     [routerLink]="['/principal/ordenesTrabajo-editar/' + OrdenTrabajoId + '/detallesPagos/' + OrdenTrabajoId]"
     routerLinkActive="active-link">Lista de Pagos</a>
  <a mat-tab-link
     [routerLink]=""
     routerLinkActive="active-link">Lista de Repuestos</a>
</nav>
<router-outlet></router-outlet>

<!--(selectedTabChange)="navegarDetalleTareas()"-->
