<h2>Lista Empleados</h2>
<div class="row justify-content-end">
  <button class="btn btn-primary" [routerLink]='["/principal/empleados-agregar"]'>Agregar Empleado</button>
</div>


  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Numero Documento</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleados">
        <td>{{empleado.id}}</td>
        <td>{{empleado.numeroDocumento}}</td>
        <td>{{empleado.nombre}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]='["/principal/empleados-editar/" + empleado.id]'>Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>


