<h2>Lista de detalles de repuestos</h2>
<div class="row justify-content-end">
  <button class="btn btn-primary" [routerLink]='["/principal/menuOrdenes-editar/" + ordenTrabajoId + "/detallesRepuesto-agregar/" + ordenTrabajoId]'>Agregar Detalle Repuestos</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Repuesto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detalle of listaDetallesRepuesto">
      <td>{{detalle.repuesto.nombre}}</td>
      <td>{{detalle.cantidad}}</td>
      <td>{{detalle.precio|currency: 'PEN': 'symbol': '': 'es-PE'}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]='["/principal/menuOrdenes-editar" + ordenTrabajoId + "/detallesRepuesto-editar/" + detalle.id]'>Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
