.cajaOT {
  box-shadow: 2px 2px 5px #999;
  background: linear-gradient(45deg, white, #E1E1E1);
}

.detalleLista{
  color:cadetblue;
}

.detalleListaGreen {
  color:cornflowerblue;
}

.icono {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.icono:hover {
  color: #1717FF;
  cursor: pointer;
  box-shadow: 2px 2px 5px #999;
  background-color:rebeccapurple;
}

.example-full-width {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
