<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="example-form">
      <mat-form-field class="example-full-width" appearance="fill" align="right">
        <mat-label>Tarea</mat-label>
        <input matInput
               aria-label="Tarea"
               [matAutocomplete]="auto"
               [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let tarea of listaTareas" [value]="tarea.nombre" (onSelectionChange)='setTarea(tarea)'>
            <span>{{tarea.nombre}}</span> |
            <small>Precio Ref: {{tarea.precioReferencial}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('cantidad').touched || formGroup.get('cantidad').dirty) && !formGroup.get('cantidad').valid}">
      <label class="col-md-2 control-label"
             for="cantidadId">Cantidad</label>
      <div class="col-md-8">
        <input class="form-control"
               id="cantidadId"
               type="text"
               required
               formControlName="cantidad" />
        <span class="help-block" *ngIf="(formGroup.get('cantidad').touched || formGroup.get('cantidad').dirty) && formGroup.get('cantidad').errors">
          <span *ngIf="formGroup.get('cantidad').errors.required">
            El Campo cantidad es requerido.
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('precio').touched || formGroup.get('precio').dirty) &&  !formGroup.get('precio').valid}">
      <label class="col-md-2 control-label"
             for="precioId">Precio</label>
      <div class="col-md-8">
        <input class="form-control"
               id="precioId"
               type="text"
               required
               formControlName="precio" />
        <span class="help-block" *ngIf="(formGroup.get('precio').touched || formGroup.get('precio').dirty) &&  formGroup.get('precio').errors">
          <span *ngIf="formGroup.get('precio').errors.required">
            El campo Precio es requerido
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Salvar
          </button>
          <button class="btn"
                  [routerLink]='["/"]'>
            Cancelar
          </button>
        </span>
      </div>
    </div>
  </fieldset>
</form>


