<h2>Detalles de costo</h2>
<div class="row justify-content-end">
  <button [routerLink]="['/principal/menuOrdenes-editar/' + ordenTrabajoId + '/detallesCosto-agregar/'+ ordenTrabajoId]" class="btn btn-primary">Agregar Detalle Costo</button>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let costo of detallesCostos">
      <td>{{costo.costo.descripcion}}</td>
      <td>{{costo.precio|currency: 'PEN': 'symbol': '': 'es-PE'}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]='["/principal/menuOrdenes-editar/" + ordenTrabajoId + "/detallesCosto-editar/" + costo.id]' >Editar</button>
        <button class="btn btn-danger"  >Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
