<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="row justify-content-end">
  <mat-slide-toggle class="example-margin"
                    [(ngModel)]="modoTabla">
    Modo lista
  </mat-slide-toggle>
</div>


<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filtrar:
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field appearance="fill">
    <mat-label>Cliente</mat-label>
    <input matInput
           aria-label="Cliente"
           [matAutocomplete]="auto"
           [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option [value]="Todos">
        <span>Todos</span>
      </mat-option>
      <mat-option *ngFor="let cliente of listaClientes" [value]="cliente.nombre" (onSelectionChange)='getPosts(cliente)'>
        <span>{{cliente.nombre}}</span> |
        <small>Contacto: {{cliente.contacto}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select>
      <mat-option [value]="0">Todos </mat-option>
      <mat-option *ngFor="let tipo of tiposOT" [value]="tipo.Id">
        {{tipo.codigo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>

<hr />
<div class="row caja">
  <button class="btn btn-primary" [routerLink]='["/principal/menuOrdenes/ordenesTrabajo-agregar"]'>Agregar Orden Trabajo</button>
</div>

<div></div>
<div class="container">


</div>

<div *ngIf="modoTabla" class="mat-elevation-z8">
  <table class="table">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Cliente</th>
        <th>Maquinaria</th>
        <th>Ver Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ot of ordenesTrabajo">
        <td>{{ot.tipoOT.codigo}}-{{ot.codigo}}</td>
        <td>{{ot.cliente.nombre}}</td>
        <td>
          <span>
            {{ot.maquinaria.placa}}
          </span>
          <small>
            {{ot.maquinaria.tipo.descripcion}}
          </small>
        </td>
        <td>
          <button mat-button class="icono" matTooltip="Ver detalle">
            <span class="material-icons" (click)="llenarDetalle(ot.id)">
              visibility
            </span>
          </button>
        </td>
        <td>
          <button mat-button class="icono" matTooltip="Editar">
            <span class="material-icons" [routerLink]= "['/principal/menuOrdenes-editar/' + ot.id + '/ordenesTrabajo-editar/' + ot.id]">
              edit
            </span>
          </button>
        </td>
        <td>
          <button mat-button class="icono" matTooltip="Informe Preliminar" (click)="openDialog(ot.informePreliminar)">
            <span class="material-icons">
              receipt
            </span>
          </button>
        </td>
        <td>
          <button mat-button class="icono" matTooltip="Formato de Recepcion Equipos" (click)="openDialog(ot.formatoRecepcionEquipos)">
            <span class="material-icons">
              assignment
            </span>
          </button>
        </td>
        <td>
          <button mat-button class="icono" matTooltip="Acta de Conformidad" (click)="openDialog(ot.actaConformidad)">
            <span class="material-icons">
              fact_check
            </span>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>




<mat-grid-list *ngIf="!modoTabla" cols="2">
  <mat-grid-tile *ngFor="let OT of ordenesTrabajo" style="margin-top:5px">
    <div class="card" style="width:18rem;">
      <!--<img src="tigre.jpg" alt="" class="card-img-top">-->
      <div class="card-body cajaOT">
        <h5 class="card-title">
          <small>Cod:</small>
          {{OT.codigo}}
          <button mat-button class="icono" matTooltip="Ver detalle">
            <span class="material-icons" (click)="llenarDetalle(OT.id)">
              visibility
            </span>
          </button>

          <button mat-button class="icono" matTooltip="Editar">
            <span class="material-icons" [routerLink]='["/ordenesTrabajo-editar/" + OT.id]'>
              edit
            </span>
          </button>
          <button mat-button class="icono" matTooltip="Informe Preliminar" (click)="openDialog(OT.informePreliminar)">
            <span class="material-icons">
              receipt
            </span>
          </button>
          <button mat-button class="icono" matTooltip="Formato de Recepcion Equipos" (click)="openDialog(OT.formatoRecepcionEquipos)">
            <span class="material-icons">
              assignment
            </span>
          </button>
          <button mat-button class="icono" matTooltip="Acta de Conformidad" (click)="openDialog(OT.actaConformidad)">
            <span class="material-icons">
              fact_check
            </span>
          </button>
        </h5>
        <p class="card-text">{{OT.cliente.nombre}}</p>
        <p class="card-text">{{OT.cliente.contacto}}</p>
        <p class="card-text">{{OT.cliente.telefono}}</p>
        <p class="card-text">{{OT.cliente.correoElectronico}}</p>
        <p class="card-text">Fecha: {{OT.fecha | date:'dd-MM-yyyy'}}</p>
        <div class="row" style="padding-right:10px; margin-left:3px">
          <p class="card-text" style="color:cadetblue">Tareas : </p>
          <p class="card-text" style="color:Highlight">{{OT.detallesTareas.length}}</p>
          <p class="card-text" style="color:cadetblue"> Total Pagos: </p>
          <p class="card-text" style="color:Highlight">{{OT.sumaPagos}}</p>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator [length]="numeroOrdenes"
               [pageSize]="tamano"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Seleccionar pagina"
               (page)="pageEvent = getServerData($event)">
</mat-paginator>


