<div class="row justify-content-end">
  <button [routerLink]="['/principal/menuOrdenes-editar/' + idOT + '/detallesPago-agregar/'+ idOT]" class="btn btn-primary">Agregar Detalle Pago</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Monto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pago of detallesPago">
      <td>{{pago.fecha}}</td>
      <td>{{pago.pago}}</td>
      <td><button class="btn btn-primary" [routerLink]='["/principal/menuOrdenes-editar/" + idOT +  "/detallesPago-editar/" + pago.id ]'>Editar</button></td>
      <td><button class="btn btn-danger">Eliminar</button></td>
    </tr>
  </tbody>
</table>
