<h2>Lista de Repuestos</h2>
<div>
  <button class="btn btn-primary" [routerLink]='["/principal/repuesto-agregar"]'>Agregar Repuesto</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Precio Ref:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repuesto of listaRepuestos">
      <td>{{repuesto.id}}</td>
      <td>{{repuesto.nombre}}</td>
      <td>{{repuesto.precioReferencial|currency: 'PEN': 'symbol': '': 'es-PE'}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]='["/principal/repuesto-editar/" + repuesto.id]'>Editar</button>
        <button class="btn btn-danger" >Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
