<button [routerLink]="['/principal/ordenesTrabajo-editar/' + ordenTrabajoId + '/detalleEmpleado-agregar/'+ ordenTrabajoId]" class="btn btn-primary">Agregar Detalle</button>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detalleEmpleado of detalleEmpleados">
      <td>{{detalleEmpleado.empleado.id}}</td>
      <td>{{detalleEmpleado.empleado.nombre}}</td>
      <td>{{detalleEmpleado.empleado.telefono}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]='["/detalleEmpleado-editar/" ]'>Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
