
<div class="row justify-content-end">
  <button [routerLink]="['/principal/menuOrdenes-editar/' + ordenTrabajoId + '/detalleTarea-agregar/'+ ordenTrabajoId]" class="btn btn-primary">Agregar Detalle</button>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detalleTarea of detalleTareas">
      <td>{{detalleTarea.tarea.nombre}}</td>
      <td class="alig_derecha">{{detalleTarea.cantidad}}</td>
      <td class="alig_derecha">{{detalleTarea.precio|currency: 'PEN': 'symbol': '': 'es-PE'}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]='["/tareas-editar/" ]'>Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>TOTAL</th>
      <th class="alig_derecha">{{totatNumerotareas}}</th>
      <th class="alig_derecha">{{totalPreciotareas| currency: 'PEN': 'symbol': '': 'es-PE'}}</th>
    </tr>
  </tfoot>
</table>



