<h1>Inngrese sus datos</h1>
<form class="form-horizontal" novalidate
      [formGroup]="formGroup">
  <fieldset>
    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('email').touched || formGroup.get('email').dirty)&&  !formGroup.get('email').valid}">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput
               id="correoId"
               type="text"
               required
               formControlName="email" />
      </mat-form-field>
    </div>
    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('password').touched || formGroup.get('password').dirty) &&  !formGroup.get('password').valid}">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput
               id="nombreId"
               type="password"
               required
               formControlName="password" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <div class="col-md-6 col-md-offset-2">
        <span>
          <button class="btn btn-primary"
                  type="button"
                  (click)="registrarse()"
                  [disabled]="!formGroup.valid">
            Registrarse
          </button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/"]'>
            Cancelar
          </button>
        </span>

      </div>

    </div>

  </fieldset>
</form>
