<h1>Registre sus datos</h1>
<form class="form-horizontal" novalidate
      [formGroup]="formGroup">
  <fieldset>
    <div class="form-group caja" 
         >
      <mat-form-field class="example-full-width caja" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput
               id="correoId"
               type="text"
               required
               formControlName="email" />
        <mat-error *ngIf="formGroup.get('email').errors?.required">Debe Ingresar un Correo</mat-error>
      </mat-form-field>
      
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width caja" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
               id="passwordId"
               type="password"
               required
               formControlName="password" />
        <mat-error *ngIf="formGroup.get('password').errors?.required">Debe Ingresar un password</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width caja" appearance="fill">
        <mat-label>Repetir Password</mat-label>
        <input matInput
               id="password2Id"
               type="password"
               [errorStateMatcher]="matcher"
               required
               formControlName="password2" />
        <mat-error *ngIf="formGroup.hasError('notSame')">Los password no coinciden</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <div class="col-md-6 col-md-offset-2">
        <span>
          <button class="btn btn-primary"
                  type="button"
                  (click)="registrarse()"
                  [disabled]="!formGroup.valid">
            Registrarse
          </button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/"]'>
            Cancelar
          </button>
        </span>

      </div>

    </div>

  </fieldset>
</form>
