
<button class="btn btn-primary" (click)="savePDF2()">Imprimir Lista</button>

<div class="container" id="content" #content>
  <h3>Lista de Clientes</h3>
  <div class="row justify-content-start">

    <h5>Fecha del Reporte : </h5> <label>{{fechaActual}}</label>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>

        <th>Tipo Documento</th>
        <th>Numero</th>
        <th>Nombres</th>
        <th>Contacto</th>
        <th>Telefono</th>
        <th>Correo Electronico</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">

        <td>{{cliente.tipoDocumento}}</td>
        <td>{{cliente.numeroDocumento}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.contacto}}</td>
        <td>{{cliente.telefono}}</td>
        <td>{{cliente.correoElectronico}}</td>
      </tr>
    </tbody>


  </table>
</div>
