
<h5>Lista de tareas</h5>
<button [routerLink]="['/principal/menuCotizaciones-editar/' + cotizacionId + '/detalleTareaC-agregar/' + cotizacionId]">Agregar Tarea</button>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Horas Hombre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detalle of detalleTareas">
      <td>{{detalle.tarea.nombre}}</td>
      <td>{{detalle.cantidad}}</td>
      <td>{{detalle.hora}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]='["/principal/menuCotizaciones-editar/" + cotizacionId + "/tareas-editar/" + id ]'>Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<mat-label>Total Horas Hombre :</mat-label>
<mat-label>00.00 </mat-label>


