<form class="form-horizontal" novalidate [formGroup]="formGroup"
      (ngSubmit)="save()">
  <fieldset>
    <div class="example-form" formGroupName="costo">
      <mat-form-field class="example-full-width" appearance="fill" align="right">
        <mat-label>Gasto</mat-label>
        <input matInput
               aria-label="gasto"
               [matAutocomplete]="auto"
               formControlName="descripcion">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let gasto of listaCostos" [value]="gasto.descripcion" (onSelectionChange)="setCosto(gasto, $event)">
            <span>{{gasto.descripcion}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width" appearance="fill" align="right">
      <mat-label>Monto</mat-label>
      <input matInput
             aria-label="monto"
             formControlName="precio" />
    </mat-form-field>

    <div class="formGroup">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Salvar
          </button>
          <button class="btn" [routerLink]='["/principal/cotizaciones-editar/" + cotizacionId + "/detallesGastosC/" + cotizacionId]'>
            Cancelar
          </button>
        </span>
      </div>
    </div>
  </fieldset>
</form>
