<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>
    <div class="example-form" formGroupName="repuesto">
      <mat-form-field class="example-form" appearance="fill" align="right">
        <mat-label>Repuesto</mat-label>
        <input matInput
               aria-label="Repuesto"
               [matAutocomplete]="auto"
               [formControl]="stateCtrl"
               formControlName="nombre"
               required />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let repuesto of listaRepuestos" [value]="repuesto.nombre" (onSelectionChange)="setRepuesto(repuesto, $event)">
            <span>{{repuesto.nombre}}</span> |
            <small>Precio Ref: {{repuesto.precioReferencial|currency: 'PEN': 'symbol': '': 'es-PE'}}</small>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="(formGroup.get('repuesto').touched || formGroup.get('repuesto').dirty) &&  formGroup.get('repuesto').errors">
          Seleccione un Repuesto
        </mat-error>
      </mat-form-field>
    </div>

    <div class="formGroup">
      <mat-form-field class="example-full-width" appearance="fill" align="right">
        <mat-label>Precio</mat-label>
        <input matInput
               aria-label="Precio"
               formControlName="precio"
               pattern="^\d+(\.\d+)?$"
               required />
        <mat-error *ngIf="(formGroup.get('precio').touched || formGroup.get('precio').dirty) &&  formGroup.get('precio').errors">
          Campo Precio no valido.
        </mat-error>
        <mat-error *ngIf="formGroup.get('precio').errors && formGroup.get('precio').errors.required">
          El campo precio es <strong>requerido</strong>
        </mat-error>
        <mat-error *ngIf="formGroup.get('precio').errors && formGroup.get('precio').errors.pattern">
          El campo precio solo admites numeros y punto ej: <strong>2000.00</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" align="right">
        <mat-label>Cantidad</mat-label>
        <input matInput
               aria-label="cantidad"
               formControlName="cantidad"
               pattern="^\d+$"
               required />
      <mat-error *ngIf="(formGroup.get('cantidad').touched || formGroup.get('cantidad').dirty) &&  formGroup.get('cantidad').errors">
        Campo Cantidad no valido.
      </mat-error>
      <mat-error *ngIf="formGroup.get('cantidad').errors && formGroup.get('cantidad').errors.required">
        El campo cantidad es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.get('cantidad').errors && formGroup.get('cantidad').errors.pattern">
        El campo cantidad solo admites numeros ej: <strong>24</strong>
      </mat-error>
      </mat-form-field>
    </div>

    <div class="formGroup" style="margin-top:30px;">
      <div class="col-md-4 col-md-offset-2">
          <button class="btn btn-primary"
                  type="submit">
            Salvar
          </button>
          <button class="btn"
                  [routerLink]='["/principal/menuOrdenes-editar/" + ordenTrabajoId + "/detallesRepuestos/" + ordenTrabajoId]'>
            Cancelar
          </button>

      </div>
    </div>
  </fieldset>
</form>
