<div class="justify-content-end">
  <button class="btn btn-primary" [routerLink]='["/principal/especialidad-agregar"]'>Agregar Especialidad</button>
</div>
<div class="mat-elevation-z8">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let espe of especialidades">
        <td>{{espe.id}}</td>
        <td>{{espe.descripcion}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]='["/principal/especialidad-editar/" + espe.id]'>Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

